*{
    margin:0;
    padding:0;
    font-family: "Orbitron", sans-serif;
}


.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black ;
    margin : 10px auto;
    width : fit-content;
    padding : 10px ;
    background-color:#bbbbbb;
    border-radius: 8px;

}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 77px;
  cursor: pointer;
  font-size: large;
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(205, 205, 205);
}

.row{
  margin: 8px 0;
}

.row input{
    width: 269px;
    font-size: 30px;
    margin: 0px;
    padding: 17px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(202, 255, 150, 0.586);
    color:rgb(41, 82, 0);
}

.heading{
    text-align: center;
    margin : 5px ;
}

.double{
    width : 138px;
}

footer{
    margin : 10px;
    padding : 10px;
    text-align: center;
    font-size: smaller;
    border : 4 px solid black ;
    color : white;
    background-color: rgb(153, 153, 153);
}

.AC{
    background-color: firebrick;
}

.green:active:{
    background-color:green;
    transform: translateY(3px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    
}

.AC:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(116, 18, 18);

}
